<ion-item>
    <label class="label label-md">Select Avatar</label>
    <ion-grid>
        <ion-row wrap>
        <ion-col *ngFor="let avatarItem of avatarList" width-25 >
            <button class="no-padding" (click)="switchAvatar(avatarItem)">
            <img [src]="avatarItem" [class.active]="avatar == avatarItem" />
            </button>
        </ion-col>    
        </ion-row>
    </ion-grid>
</ion-item>