<!--
  Generated template for the EditContact page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Edit Contact</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item>
    <ion-label stacked>Contact Name</ion-label>
    <ion-input [(ngModel)]="contact.name" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked>Phone Number</ion-label>
    <ion-input [(ngModel)]="contact.phoneNumber" type="tel"></ion-input>
  </ion-item>

  <select-avatar [(avatar)]="contact.avatar"></select-avatar>

  <div padding>
    <button ion-button block (click)="update()">Save</button>
  </div>
</ion-content>
