<ion-header>
  <ion-navbar>
    <ion-title>Contacts</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="goToAddPage()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-searchbar (input)="search($event)"></ion-searchbar>
<ion-content>
    <ion-list>
      <contact-item 
        *ngFor="let user of contacts; let i = index;" 
        [user]="user" 
        [(counter)]="counter"
        (userClicked)="viewContact(i, $event)"
      >
      </contact-item>
    </ion-list>


</ion-content>
