<ion-item (click)="itemClicked()">
    <ion-avatar item-left>
        <img [src]="user.avatar">
    </ion-avatar>

    <h2>{{user.name}}</h2>
    <p>{{user.phoneNumber}}</p>
    <button ion-button clear>
        <ion-icon name="star-outline"></ion-icon>
    </button>
</ion-item>