page-view-contact {
   background-color: #eee;
   ion-card-header {
      text-align: center;
      img {
         width: 100px;
         height: 100px;
         margin: 5px auto;
         border-radius: 50%;
      }
   }
}
